__pycache__/
env/
dummy.html
Interfaces.pdf
SCV-B10MenuEvento.html
SCV-B10VisualizarListaEventos.html
SCV-B09GestionarConfiguracionInscripcion
login.html
Login.html
SCV-B01VisualizarEvento.html
SCV-B20VisualizarListaEventosParticipante.html
SCV-B07ValidarInscripcion.html
SCV-B04-B05RegistrarMovimiento.html
SCV-B16-17PaginaColaborador.html
SCV-B16EntregaMaterial.html
SCV-B17RegistrarAsistencia.html
SCV-B08CrearUsuario.html
Signup.html
SCV-B03SeleccionarEvento.html
static/js/camera.js
README-EntregaFinal.md
**.pdf