<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>App de Prueba</title>
        <meta name="description" content="Demostracion.">
        <meta name="author" content="GroupIS">
    </head>
    <body>
        <h1>Flask funciona</h1>
        <h2>y {{texto}} también</h2>
        <div>
            <a href="/login">Login</a>
        </div>
        <div>
            <a href="/signup">Sign up</a>
        </div>
    </body>
</html>