<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <!-- Icons -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/extra.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/solid.css') }}">
        <title>Our Point</title>
    </head>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        {% if tipoUsuario == 'Visitante'%}
        <h5 class="my-0 mr-md-auto font-weight-normal" style="cursor: pointer;" onclick="window.location='{{url_for('index')}}'">Our Point</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{{url_for('nosotros')}}" disabled>Nosotros</a>
            <a class="p-2 text-dark" href="{{url_for('index')}}">Eventos</a>
        </nav>
        <a class="btn btn-outline-primary" href="{{ url_for('login') }}">Log in</a>
        <a class="btn btn-outline-primary" href="{{ url_for('register') }}">Sign Up</a>
        {% else %}
            {% if tipoUsuario == 'Participante' %}
                <h5 class="my-0 mr-md-auto font-weight-normal" style="cursor: pointer;" onclick="window.location='{{url_for('index')}}'">{{nombreEvento}}</h5>
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="p-2 text-dark" href="{{ url_for('index') }}">Inicio</a> 
                    <a class="p-2 text-dark" href="{{ url_for('listaEventosParticipante') }}">Mis Eventos</a>                 </nav>
            {% else %}
                {% if notShow == True %}
                    <h5 class="my-0 mr-md-auto font-weight-normal" style="cursor: pointer;" onclick="window.location='{{url_for('listaEventos')}}'">{{nombreEvento}}</h5>
                    <nav class="my-2 my-md-0 mr-md-3">
                        <a class="p-2 text-dark" href="{{ url_for('index') }}">Inicio</a> 
                        <a class="p-2 text-dark" href="{{ url_for('listaEventos') }}">Lista de Eventos</a>
                    </nav>
                {% else %}
                    {% if tipoUsuario == 'Caja' %}
                    <h5 class="my-0 mr-md-auto font-weight-normal" style="cursor: pointer;" onclick="window.location='{{url_for('listaEventos')}}'">{{nombreEvento}}</h5>
                    <nav class="my-2 my-md-0 mr-md-3">
                        <a class="p-2 text-dark" href="{{ url_for('movimiento') }}">Registrar Movimimento</a>
                        <a class="p-2 text-dark" href="{{ url_for('movimiento') }}">Registrar Inscripcion</a>
                        <a class="p-2 text-dark" href="{{ url_for('validarInscripcion') }}">Validar Inscripcion</a>
                    </nav>
                    {% else %}
                        {% if tipoUsuario == 'Colaborador' %}
                        <h5 class="my-0 mr-md-auto font-weight-normal" style="cursor: pointer;" onclick="window.location='{{url_for('colaborador')}}'">{{nombreEvento}}</h5>
                        <nav class="my-2 my-md-0 mr-md-3">
                            <a class="p-2 text-dark" href="#" disabled>Asistencia</a>
                            <a class="p-2 text-dark" href="{{ url_for('materiales') }}">Materiales</a>
                        </nav>
                        {% else %}
                        <h5 class="my-0 mr-md-auto font-weight-normal" style="cursor: pointer;" onclick="window.location='{{url_for('listaEventos')}}'">{{nombreEvento}}</h5>
                        <nav class="my-2 my-md-0 mr-md-3">
                            <a class="p-2 text-dark" href="{{ url_for('listaEventos') }}">Lista de Eventos</a>
                            <a class="p-2 text-dark" href="{{ url_for('evento', idEvento = idEvento) }}">Evento</a>
                            <a class="p-2 text-dark" href="{{ url_for('gestionar_inscripcion') }}">Inscripciones</a>
                            <a class="p-2 text-dark" href="{{ url_for('movimiento') }}">Caja</a>
                            <a class="p-2 text-dark" href="{{ url_for('gestionarUsuario') }}">Gestión</a>
                            <a class="p-2 text-dark" href="#" disabled>Reporte</a>
                        </nav>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
            <a class="btn btn-outline-primary" href="{{ url_for('logout') }}">Log out</a>
        {% endif %}

    </div>
    <body>
        <div class = "container">

            {% if alerta %}
            <div class="sticky-top">
                <div class="alert alert-{{alerta.tipo}} alert-dismissible fade show" role="alert">
                    {{alerta.leading}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="alert-heading">{{alerta.title}}</h4>
                    <p>{{alerta.texto}}</p>
                    {% if alerta.masTexto %}
                    <hr>
                    <p class="mb-0">{{alerta.masTexto}}</p>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            {% block body %}
            {% endblock %}
        </div>
        
    </body>
    <div class="fixed-bottom ">

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/boosttrap.js') }}"></script>
    {% block script %}
        
    {% endblock %}

</html>