<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>App de Prueba</title>
        <meta name="description" content="Demostracion.">
        <meta name="author" content="GroupIS">
    </head>
    <body>
        <h1>Flask funciona</h1>
        <h2>Log In</h2>
        <div>
            <form method="post">
                <label for="fname">Usuario:</label>
                <br>
                <input type="text" id="usuario" name="user">
                <br>
                <label for="lname">Contraseña:</label>
                <br>
                <input type="password" id="contra" name="password">
                <br>
                <br>
                <input type="submit">
            </form>
        </div>
        <br>
        <a href="/">Pagina Principal</a>
    </body>
</html>