{% extends "Layout.html" %}
<html>
{% block body %}
<div class="row">
    <div class="col-5" style="height: 100%;background-color:#ffffffb7;">
        <br><br><br><br><br><br><br>
        Bienvenido
        <h2>Ingresa a tu cuenta</h2>    
        <form class="align-self-center" method="post">
            <div class="form-group">
                <label for="fname">Cuenta</label>
                <input type="email" class="form-control" id="fname" name="usuario" required>
            </div>
            <div class="form-group">
                <label for="contra">Contraseña</label>
                <input type="password" class="form-control"  id="contra" name="contra" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block float-right" >Accede ahora</button>
            <small id="warningNoRegistrado" class="form-text text-muted">¿No estas registrado? </small>
            <a href="{{ url_for('register') }}" id="" class="btn btn-primary btn-lg btn-block" >Sign Up</a>
        </form>
        <br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div class="col-7">
        <img src="{{ url_for('static', filename='img/login.jpg') }}" alt="" style="height:107vh;top: -17vh;right: -16.5vw;position: absolute;z-index: -2;">
    </div>
    
</div>
{% endblock %}

{% block script %}

{% endblock %}
</html>