{% extends "Layout.html" %}
<html>
{% block body %}
<div class="container">
    <h1>Nosotros</h1>
    <div class="row marquito">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="text-center">
                <br>
                <h3>Sistema Gestor de Eventos</h3>
                <h4>Desarrollado por</h4>
                Equipo de desarrollo GROUPIS

                <br>
            </div> 
        </div>
        <div class="col-1"></div>
        <span></span>
    </div>
    </html>
</div>

{% endblock %}