{% extends "Layout.html" %}
<html>
{% block body %}
<br>
    <h1 class="text-center">¡Bienvenido Colaborador!</h1>
    <div id="listaEventosDisponiblesParticipanteContainer"></div>
    
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre del Evento</th>
                <th scope="col">Asistencias</th>
                <th scope="col">Materiales</th>
                <th scope="col">Obtener Códigos QR</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(len.general) %}
            <tr>
                <th scope="row">{{i+1}}</th>
                <th >{{general[i].nombreEvento}}</th>
                <td>
                    <form action="{{url_for('asistencia')}}">
                        <input type="text" value="{{idEvento}}" name="idEvento" style="display: none;">
                        <button id="" class="btn btn-primary btn-sm" type="submit">
                            <span class="fas fa-check-circle"></span>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="{{url_for('materiales')}}">
                        <input type="text" value="{{idEvento}}" name="idEvento" style="display: none;">
                        <button id="" class="btn btn-primary btn-sm" type="submit">
                            <span class="fas fa-thumbtack"></span>
                        </button>
                    </form>
                </td>
                <td>
                    <a href="#" id="exportar" class="btn btn-primary btn-sm" type="button" onclick="exportar({{idEvento}})" download="pdf.pdf">
                        <span class="fas fa-qrcode"></span>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
</html>
{% block script %}
<script>
function exportar(val){
    const request = new XMLHttpRequest();
    request.open('GET',  "/obtenerQRParticipantes", false);
    request.onload = () => {
        const pdf = JSON.parse(request.responseText);
        document.getElementById("exportar").setAttribute('href',pdf.url)
        document.getElementById("exportar").setAttribute('download',pdf.fileName)
    };
    request.send(id = val, formato="pdf")
}

</script>
{% endblock %}