{% extends "Layout.html" %}
<html>
{% block body %}
<span class="gray"></span>
<br>
<br>
<h1>{{evento.title}}</h1>
<div class="container">
    <div class="row ">

        <div class="col-lg-6 col-sm-2" style="height:61vh;">
            <br>
            <img src="{{ url_for('static', filename='img/visualizarEvento.jpg') }}" style="height:61vh;position: absolute;z-index: -1;overflow-x: hidden;">
        </div>

        <div class="col-lg-6 col-sm-10">
            <div class="marquito" style="padding: 1%;">
                <div class="detallesEvento datosEventos" style="background-color: #007BFF;color: azure;">
                    <h5>DATOS DEL EVENTO</h5>
                    <table class="table table-borderless" style="color: azure;">
                        <tr>
                            <td>{{evento.descripcion}}</td>
                        </tr>
                        <tr>
                            <td>{{evento.lugar}}</td>
                        </tr>
                        <tr>
                            <td>{{evento.fechas}}</td>
                        </tr>
                    </table>
                </div>
                <div id="actividades" class="datosEventos" style="background-color: #DAE9F9;">
                    <h5>ACTIVIDADES</h5>
                    <table class="table table-borderless">
                        <tbody>
                            {% for i in range(lenActividad) %}
                            <tr>
                                <td>{{actividad[i].nombre}}</td>
                                <td>{{actividad[i].duracion}}</td>
                                <td>{{actividad[i].ponente}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div id="paquetes" class="datosEventos" style="background-color: #F0F0F0;margin-bottom:0vh">
                    <h5>DATOS DE INSCRIPCIONES</h5>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Categoria</th>
                                {%for i in range(paquetes)%}
                                <th scope="col">{{paquete[i]}}</th>
                                {%endfor%}
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(categorias) %}
                            <tr>
                                <td scope="row">{{categoria[i]}}</td>
                                {% for j in range(paquetes)%}
                                    <td>{{categoria_paquete[categoria[i]][paquete[j]]}}</td>
                                {% endfor %}
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if tipoUsuario != "Admin" and disponible == True%}
            <div class="text-center">
                    <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#elegirCategoriaPaquete">PreInscribirse</button>
                
            </div>
            {% endif %}
        </div>
    </div>

    <div class="modal" tabindex="-1" id="elegirCategoriaPaquete">
        <div class="modal-dialog">
            <div class="modal-content"> 
                <form action="{{url_for('registrarse',id=evento.id)}}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Categoría y Paquete </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputCategoria">Categoria</label>
                            <select id="inputCategoria" class="custom-select" name="categoria" onchange="getPaquetes(categoria.value)" required>
                                <option value="null"> ... </option>
                                {% for i in range(len.Categoria)%}
                                <option value="{{ cat[i].id }}">{{ cat[i].texto }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputPaquete">Paquete</label>
                            <select id="inputPaquete" class="custom-select" name="paquete" required>
                                <option value="none" selected>Seleccione una categoria primero</option>  
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">PreInscribirse</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
</div>
{% endblock %}
{% block script %}
<script>

    //Script que pemrmite cargar los paquetes de una categoria a la lista de opciones del respectivo evento 
    let idCategoria = "inputCategoria"
    let idPaquete = "inputPaquete"
    let idTablaBody = "tbody"
    function getPaquetes(idCat){
        const request = new XMLHttpRequest();
        request.open('GET',  "/obtenerCategoriasPaquete/"+idCat, false);
        request.onload = () => {
            BOOSTTRAP.Utilities.onlyChild(idPaquete," ")
            const data = JSON.parse(request.responseText);
            let paquete = data.paquete
            let optionsHtml = ""
            for (let i in paquete){
                optionsHtml+=String.raw`<option value="${paquete[i].id}">${paquete[i].nombre}</option>`
            }
            BOOSTTRAP.Utilities.onlyChild(idPaquete,optionsHtml)
        };
        request.send(idCat=idCat)
    }

</script>
{% endblock %}
</html>