{% extends "Layout.html" %}
<html>
{% block body %}
<h1>Página Principal del Evento</h1>
<a href="{{url_for('listaEventos')}}"> << Regresar a eventos </a>
<div id="datos-evento" class="row">
    <div class="col-8">
        <div class="">
            <h5>Descripción</h5>
            {{descripcion}}
        </div>
        <br>
        <div class="">
            <h5>Lugar</h5>
            {{lugar}}
        </div>
        <br>
        <div class="">
            <h5>Tipo de Evento</h5>
            {{tipoEvento}}
        </div>
        <br>
        {% if estado == 'Borrador' %}
        <button id="editarDatosBoton" type="button" class="btn btn-outline-info">Editar Datos</button>
        {% else %}
        {% endif %}
    </div>

    <div class="col-4">
        {% if estado == 'Borrador' %}
        <form action="{{url_for('lanzarEvento')}}" method="post">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Lanzar Evento</button>
        </form>
        {% endif %}
    </div>
</div>
<div>
    <br>
    <h2>Actividades</h2>
    <div id="modalModificarContainer"></div>
    <div class="row">
        <div class="col-1"></div>
        <div id="activities-list" class="col">
            {%for i in range(0, lenActividad)%}
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col"> {{actividad[i].nombre}}</div>
                        <div class="col-2 text-right">
                            {% if estado == 'Borrador' %}
                            <a href="{{ url_for('actividad',id = actividad[i].id) }}"><i class="fas fa-pencil-alt"> </i></a>
                            <a href="{{ url_for('eliminarActividad',id = actividad[i].id) }}"><i class="fas fa-trash"> </i></a>
                            {% else %}
                            <a href="{{ url_for('actividad',id = actividad[i].id) }}"><i class="fas fa-eye"> </i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {%endfor%}
  

            {% if estado == 'Borrador' %}
            <form action="{{url_for('crearActividad')}}" method="get">
                <p class="text-center">
                    <button type="submit" class="btn btn-outline-primary"> <i class="fas fa-plus"></i> Agregar actividad</button>
                </p>
            </form>
            {% endif %}
        </div>
        <div class="col-1"></div>
    </div>

</div>

{% endblock %}
{% block script %}
    <script>
        //Script que permite mostrar el modal para editar los detalles del evento
        let idModalModify = "modalModificar"
        let datosForm = [
            {"nombre":"idEvento","tipo_dato":"text","extra":String.raw`style="display: none;" disabled`},
            {"nombre":"nombreEvento","texto":"Nombre del Evento","tipo_dato":"text"},
            {"nombre":"tipoEvento","tipo_dato":"text","texto":"Tipo del Evento"},
            {"nombre":"descripcion","tipo_dato":"text","texto":"Descripción"},
            {"nombre":"lugar","tipo_dato":"text","texto":"Lugar"},
        ]
        formModal = BOOSTTRAP.GenerateComplex.buildFormModal(idModalModify,"Modificar evento",datosForm)
        BOOSTTRAP.Utilities.onlyChild("modalModificarContainer",formModal)
        console.log(formModal)
        document.getElementById(idModalModify+"-form").action = "{{url_for('modificarEvento')}}"
        document.getElementById(idModalModify+"-form").method = "post"
        let contenido ={
            "idEvento":"{{idEvento}}",
            "nombreEvento":"{{nombreEvento}}",
            "descripcion":"{{descripcion}}",
            "lugar":"{{lugar}}",
            "tipoEvento":"{{tipoEvento}}",
        }
        BOOSTTRAP.Forms.fillForm(contenido,idModalModify+"-form")
        
        BOOSTTRAP.Utilities.convertToCallModal("editarDatosBoton",idModalModify)


    </script>
{% endblock %}
</html>
