{% extends "Layout.html" %}
<html>
{% block body %}
        <h1>Gestion Administrativa</h1>
        <div id="agregarUsuarioModalContainer"></div>
        
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo de Usuario</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Permisos</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(len.general) %}
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <th>{{general[i].tipoUsuario}}</th>
                    <td>{{general[i].nombre}}</td>
                    <td>{{general[i].correo}}</td>
                    <td>{{general[i].permisos}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <button id="agregarUsuario" class="btn btn-outline-primary btn-block" type="button">
                    <i class="fas fa-plus"></i> Agregar Usuario
                </button>
                
            </div>
            <div class="col-4"></div>
        </div>
        <br>
        

        
{% endblock %}
{% block script %}
    <script>
        idbutton = "agregarUsuario"
        idModal = "agregarUsuarioModal"
        datosForm = [
            {"nombre":"nombreCompleto","texto":"Nombre Completo","tipo_dato":"text","texto":"Nombre Completo"},
            {"nombre":"correo","texto":"Correo","tipo_dato":"mail","texto":"Correo"},
            {"nombre":"tipoUsuario","texto":"Tipo de usuario","tipo_dato":"text","texto":"Tipo de Usuario"},
            {"nombre":"nombreUsuario","texto":"Nombre de Usuario","tipo_dato":"text","texto":"Nombre de Usuario"},
            {"nombre":"contrasenia","texto":"Contraseña","tipo_dato":"text","texto":"Contraseña"}
        ]
        let formModal = BOOSTTRAP.GenerateComplex.buildFormModal(idModal,"Creación de nuevo usuario",datosForm)
        BOOSTTRAP.Utilities.onlyChild(idModal+"Container",formModal)
        document.getElementById(idModal+"-form").method = "post"       

        BOOSTTRAP.Utilities.convertToCallModal(idbutton,idModal)
        let roles = ["Colaborador","Caja","Administrador"]
        let opciones = ""
        for (i in roles){
            opciones+=String.raw`<option value="${roles[i]}">${roles[i]}</option>`
        }
        document.getElementById("agregarUsuarioModal-form-tipoUsuario").parentElement.innerHTML = String.raw`
            <select id="inputState" class="form-control" name="profesion" required>
                ${opciones}
            </select>
        `

    </script>
{% endblock %}
</html>