{% extends "Layout.html" %}
<html>
{% block body %}
<span class="gray"></span>
<br>
<br>
<h1>{{evento.title}}</h1>
<div class="container">
    <div class="row ">

        <div class="col-lg-6 col-sm-2" style="height:61vh;">
            <br>
            <img src="{{ url_for('static', filename='img/visualizarEvento.jpg') }}" style="height:61vh;position: absolute;z-index: -1;overflow-x: hidden;">
        </div>

        <div class="col-lg-6 col-sm-10">
            <div class="marquito" style="padding: 1%;">
                <div class="detallesEvento datosEventos" style="background-color: #007BFF;color: azure;">
                    <h5>DATOS DEL EVENTO</h5>
                    <table class="table table-borderless" style="color: azure;">
                        <tr>
                            <td>{{evento.descripcion}}</td>
                        </tr>
                        <tr>
                            <td>{{evento.lugar}}</td>
                        </tr>
                        <tr>
                            <td>{{evento.fechas}}</td>
                        </tr>
                    </table>
                </div>
                <div id="actividades" class="datosEventos" style="background-color: #DAE9F9;">
                    <h5>ACTIVIDADES</h5>
                    <table class="table table-borderless">
                        <tbody>
                            {% for i in range(lenActividad) %}
                            <tr>
                                <td>{{actividad[i].nombre}}</td>
                                <td>{{actividad[i].duracion}}</td>
                                <td>{{actividad[i].ponente}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div id="paquetes" class="datosEventos" style="background-color: #F0F0F0;margin-bottom:0vh">
                    <h5>DATOS DE INSCRIPCIONES</h5>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Categoria</th>
                                {%for i in range(paquetes)%}
                                <th scope="col">{{paquete[i]}}</th>
                                {%endfor%}
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(categorias) %}
                            <tr>
                                <td scope="row">{{categoria[i]}}</td>
                                {% for j in range(paquetes)%}
                                    <td>{{categoria_paquete[categoria[i]][paquete[j]]}}</td>
                                {% endfor %}
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if tipoUsuario != "Admin" and disponible == True%}
            <div class="text-center">
                <a href="{{url_for('registrarse',id=evento.id)}}" class="btn btn-primary btn-lg">    PreInscribirse    </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
   
</script>
{% endblock %}
</html>