{% extends "Layout.html" %}
<html>
{% block body %}

    <h1>¡Bienvenido Colaborador!</h1>
    <div id="listaEventosDisponiblesParticipanteContainer"></div>

    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre del Evento</th>
                <th scope="col">Asistencias</th>
                <th scope="col">Materiales</th>
                <th scope="col">Obtener Códigos QR</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(len.general) %}
            <tr>
                <th scope="row">{{i+1}}</th>
                <th >{{general[i].nombreEvento}}</th>
                <td><a href="{{ url_for('asistencia',id=idEvento) }}" id="" class="btn btn-primary btn-sm " ><span class="fas fa-check-circle"></span></a></td>
                <td><a href="{{ url_for('materiales',id=idEvento) }}" id="" class="btn btn-primary btn-sm " ><span class="fas fa-thumbtack"></span></a></td>
                <td><a href="{{ url_for('obtenerCodigQR',id=idEvento) }}" id="" class="btn btn-primary btn-sm " ><span class="fas fa-qrcode"></span></a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>




{% endblock %}
</html>