{% extends "Layout.html" %}
<html>
{% block body %}
<h1>Inscripciones</h1>


<div id="tablainscritosPre" style="display: none;"><!--Not ready-->
    <div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">General</a>
                <a class="nav-link" id="nav-preinscritos-tab" data-toggle="tab" href="#nav-preinscritos" role="tab" aria-controls="nav-preinscritos" aria-selected="false">PreInscritos</a>
                <a class="nav-link" id="nav-inscritos-tab" data-toggle="tab" href="#nav-inscritos" role="tab" aria-controls="nav-inscritos" aria-selected="false">Inscritos</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Tipo de documento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(len.general) %}
                        <tr>
                            <th scope="row">{{general[i].numero}}</th>
                            <td>{{general[i].concepto}}</td>
                            <td>{{general[i].tipo}}</td>
                            <td>{{general[i].monto}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-right">
                    <h5>Balance: {{balance.general}}</h5>
                </div>
                
            </div>
            <div class="tab-pane fade" id="nav-ingresos" role="tabpanel" aria-labelledby="nav-ingresos-tab">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(len.ingresos) %}
                        <tr>
                            <th scope="row">{{ingresos[i].numero}}</th>
                            <td>{{ingresos[i].concepto}}</td>
                            <td>{{ingresos[i].monto}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-right">
                    <h5>Balance: {{balance.ingresos}}</h5>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-egresos" role="tabpanel" aria-labelledby="nav-egresos-tab">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Número de recibo</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(len.egresos) %}
                        <tr>
                            <th scope="row">{{egresos[i].numero}}</th>
                            <td>{{egresos[i].numeroRecibo}}</td>
                            <td>{{egresos[i].concepto}}</td>
                            <td>{{egresos[i].cantidad}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-right">
                    <h5>Balance: {{balance.egresos}}</h5>
                </div>
            </div>
        </div>
    </div>

    
</div>


<div id="paquetes" class="datosEventos" >
    
    <div class="marquito">
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th scope="col">Categoria</th>
                    {%for i in range(paquetes)%}
                    <th scope="col">{{paquete[i]}}</th>
                    {%endfor%}
                </tr>
            </thead>
            <tbody>
                {% for i in range(categorias) %}
                <tr>
                    <td scope="row">{{categoria[i]}}</td>
                    {% for j in range(paquetes)%}
                        <td>{{categoria_paquete[categoria[i]][paquete[j]]}}</td>
                    {%endfor%}
                    
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div id="botonesCrear">
        <button id="crearCategoria" class="btn btn-primary btn-lg btn-block" type="submit">Nueva Categoria</button>
        <button id="crearPaquete" class="btn btn-primary btn-lg btn-block" type="submit">Nuevo Paquete</button>

    </div>

    <form action="" method="post">
        <input type="text" name="idEveto" id="" style="display: none;" value={{idEvento}}>
        <div id="fechas">
            <div class="form-group">
                <label for="cierrePreInscripcion">Cierre de Preinscripción</label>
                <input type="date" class="form-control" id="cierrePreInscripcion" name="cierrePreInscripcion" value="{{ fecha.Preinscripción }}">
            </div>
            <div class="form-group">
                <label for="CierreInscripciones">Cierre de Inscripciones</label>
                <input type="date" class="form-control" id="CierreInscripciones" name="CierreInscripciones" value="{{ fecha.Inscripciones }}">
            </div>
            <div class="form-group">
                <label for="fechaLimiteDescuento">Fecha limite de descuento</label>
                <input type="date" class="form-control" id="fechaLimiteDescuento" name="fechaLimiteDescuento" value="{{ fecha.Descuento }}">
            </div>
        </div>
        <div class="form-group">
            <label for="descuento">Descuento (en porcentaje)</label>
            <input type="number" min="1" max="100" class="form-control" id="descuento" name="descuento" value="{{descuento}}">
        </div>
        <button class="btn btn-succes btn-lg btn-block" type="submit">Guardar Cambios</button>
    </form>
    
    <div id="modalNuevaCategoriaContainer"></div>
    <div id="modalNuevoPaqueteContainer"></div>
</div>


{% endblock %}
{% block script %}
   <script>
            
        //Nuevo paquete
        let idModalPaquete = "modalPaquete"
        let datosPaquete = [{"nombre":"nombrePaquete","tipo_dato":"text"}]
        let formModal = BOOSTTRAP.GenerateComplex.buildFormModal(idModalPaquete,"Nuevo Paquete",datosPaquete)
        BOOSTTRAP.Utilities.onlyChild("modalNuevoPaqueteContainer",formModal)
        document.getElementById(idModalPaquete+"-form").action = "{{url_for('crearPaquete')}}"
        document.getElementById(idModalPaquete+"-form").method = "post"
        BOOSTTRAP.Utilities.convertToCallModal("crearPaquete",idModalPaquete)

        //Request
        const request = new XMLHttpRequest();
        request.open('GET', "{{url_for('obtenerNombreActividades')}}", false);
        
        request.onload = () => {
            const data = JSON.parse(request.responseText);//Deberia retornar nombre e id
            let checkText = "<div>"
            for (i in data){
                let entry = data[i];
                checkText+=BOOSTTRAP.Utilities.buildCheckBox(entry.id,entry.nombre);
            }
            checkText+="</div>"
            BOOSTTRAP.Utilities.addChild(idModalPaquete+"-form",checkText)
            
            var button = document.getElementById(idModalPaquete+"-form-button").parentElement.cloneNode("true")
            document.getElementById(idModalPaquete+"-form").removeChild(document.getElementById(idModalPaquete+"-form-button").parentElement)
            console.log(button)
            console.log(document.getElementById(idModalPaquete+"-form"))
            document.getElementById(idModalPaquete+"-form").appendChild(button)
            //console.log()=
        };
        request.send(null)

        

        //Nueva Categoria
        let idModalCategoria = "modalCategoria"
        let datosForm = [
            {"nombre":"nombreCategoria","tipo_dato":"text"},
        ]
        formModal = BOOSTTRAP.GenerateComplex.buildFormModal(idModalCategoria,"Nueva Categoria",datosForm)
        BOOSTTRAP.Utilities.onlyChild("modalNuevaCategoriaContainer",formModal)
        document.getElementById(idModalCategoria+"-form").action = "{{url_for('crearCategoria')}}"
        document.getElementById(idModalCategoria+"-form").method = "post"       
        BOOSTTRAP.Utilities.convertToCallModal("crearCategoria",idModalCategoria)





        
   </script>
{% endblock %}
</html>
