{% extends "Layout.html" %}
<html>
{% block body %}
        <h1>Registro pago de inscripción</h1>
        <div id="registroTransferencia-Container"></div>
        <div id="registroEfectivo-Container"></div>
        <br>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <button id="porTransferencia" class="btn btn-outline-primary btn-block" type="button">
                    Transferencia
                </button>
            </div>
            <div class="col-4">
                <button id="porEfectivo" class="btn btn-outline-primary btn-block" type="button">
                    Efectivo
                </button>
            </div>
            <div class="col-2"></div>
        </div>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Código de pago</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Paquete</th>
                    <th scope="col">Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(lens.general) %}
                <tr>
                    <th scope="row">{{general[i].codigoPago}}</th>
                    <td>{{general[i].categoria}}</td>
                    <td>{{general[i].paquete}}</td>
                    <td>{{general[i].monto}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <br>
        

        
{% endblock %}
{% block script %}
    <script>
        let idModal = "registroTransferencia"
        let idButton = "porTransferencia"
        let transferenciaForm = [
            {"nombre":"usuarioParticipante","tipo_dato":"text","texto":"Usuario del Participante"},
            {"nombre":"numeroOperacion","tipo_dato":"text","texto":"Número de operación"},
            {"nombre":"paquete","tipo_dato":"text","texto":"Paquete"},
            {"nombre":"monto","tipo_dato":"number","texto":"Confirmar Monto","extra":String.raw`step='.01'`},
        ]
        let formModal = BOOSTTRAP.GenerateComplex.buildFormModal(
            idModal,
            "Por transferencia",
            transferenciaForm,
            BOOSTTRAP.Utilities.basicButton("Confirmar") + BOOSTTRAP.Utilities.basicButton("Cancelar","",'btn-outline-danger','reset')
        )
        BOOSTTRAP.Utilities.onlyChild(idModal+"-Container",formModal)
        BOOSTTRAP.Forms.setActionMethod(idModal+"-form","{{ url_for('porTransferencia') }}")
        BOOSTTRAP.Utilities.convertToCallModal(idButton,idModal)

        idModal = "registroEfectivo"
        idButton = "porEfectivo"
        let efectivoForm = [
            {"nombre":"usuarioParticipante","tipo_dato":"text","texto":"Usuario del Participante"},
            {"nombre":"paquete","tipo_dato":"text","texto":"Paquete"},
            {"nombre":"monto","tipo_dato":"number","texto":"Confirmar Monto","extra":String.raw`step='.01'`},
        ]
        formModal = BOOSTTRAP.GenerateComplex.buildFormModal(
            idModal,
            "En efectivo",
            efectivoForm,
            BOOSTTRAP.Utilities.basicButton("Confirmar") + BOOSTTRAP.Utilities.basicButton("Cancelar","",'btn-outline-danger','reset')
        )
        BOOSTTRAP.Utilities.onlyChild(idModal+"-Container",formModal)
        BOOSTTRAP.Forms.setActionMethod(idModal+"-form","{{ url_for('porEfectivo') }}")
        BOOSTTRAP.Utilities.convertToCallModal(idButton,idModal)

    </script>
{% endblock %}
</html>