{% extends "Layout.html" %}
<html>
{% block body %}
        <h1>Hola {{ nombreUsuario }}</h1>
        <h3>Historial de eventos:</h3>

        <div id="modalEventoNuevo"></div>
        <div id="modalEventoPlantilla">
            <div class="modal" id="plantillaEventoModal" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Creacion a partir de plantilla</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('crearEventoPlantilla')}}" method="post">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Fecha de Inicio de Evento</th>
                                            <th scope="col">Tipo de Evento</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in range(len.plantilla) %}
                                        <tr>
                                            <th scope="row">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="selection" value="{{plantilla[i].id}}" >
                                                </div>
                                            </th>
                                            <th >{{plantilla[i].nombre}}</th>
                                            <td>{{plantilla[i].fechaInicioEvento}}</td>
                                            <td>{{plantilla[i].tipoEvento}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                <button type="submit" class="btn btn-primary btn-block">Continuar</button>
                            </form>

                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <form action="{{url_for('seleccionarevento')}}" method="post">
            <div id="historialEventos">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha de creación </th>
                            <th scope="col">Fecha de cierre de inscripción</th>
                            <th scope="col">Fecha de Inicio de Evento</th>
                            <th scope="col">Fecha de Cierre de Evento</th>
                            <th scope="col">Estado de evento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(len.general) %}
                        <tr>
                            <th scope="row">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="selection" value="{{general[i].id}}" >
                                </div>
                            </th>
                            <td >{{general[i].nombre}}</td>
                            <td >{{general[i].fechaCreacion}}</td>
                            <td>{{general[i].fechaCierreInscripcion}}</td>
                            <td>{{general[i].fechaInicioEvento}}</td>
                            <td>{{general[i].fechaCierreEvento}}</td>
                            <td>{{general[i].estadoEvento}}</td>
                            
        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>



            </div>
            <div class="row">
                <div class="col-8"></div>
                <div class="col-4">
                    <button id="seleccionarEvento" class="btn btn-primary btn-lg btn-block" type="submit"> Seleccionar</button>                
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <button id="agregarEvento" class="btn btn-outline-primary btn-block" type="button" >
                    <i class="fas fa-plus"></i> Agregar Evento
                </button>
                <div id="BtnEventoPlantilla" class="btn-group  btn-block" role="group" aria-label="Plantilla o nuevo" >

                    <!--Falta eleccion a partir de plantillas-->
                </div>
            </div>
            <div class="col-4"></div>
        </div>

{% endblock %}
{% block script %}
    <script>
        loadedButton = false
        //Funcion que permite crear los modals y botones para:
        //crear nuevo evento y crear evento a partir de plantilla
        function generarButtonsAdd(){
            if(!loadedButton){
                let idModalNuevo = "nuevoEventoModal"
                let idModalPlantilla = "plantillaEventoModal"
                let datosForm = [
                    {"nombre":"nombreEvento","tipo_dato":"text","texto":"Nombre del Evento"},
                    {"nombre":"tipoEvento","tipo_dato":"text","texto":"Tipo del Evento"},
                    {"nombre":"descripcionBreve","tipo_dato":"text","texto":"Descripción breve"},
                    {"nombre":"lugar","tipo_dato":"text","texto":"Lugar"},
                ]
                //Crear evento desde 0
                formModal = BOOSTTRAP.GenerateComplex.buildFormModal(idModalNuevo,"Creación de nuevo evento",datosForm)
                BOOSTTRAP.Utilities.onlyChild("modalEventoNuevo",formModal)
                document.getElementById(idModalNuevo+"-form").action = "{{url_for('crearEvento')}}"
                document.getElementById(idModalNuevo+"-form").method = "post"


                //Añade botones de los modals
                BOOSTTRAP.Utilities.onlyChild("BtnEventoPlantilla", BOOSTTRAP.Modals.buildButtonModal(idModalNuevo,"Nuevo Evento"))
                BOOSTTRAP.Utilities.addChild("BtnEventoPlantilla", BOOSTTRAP.Modals.buildButtonModal(idModalPlantilla,"Evento Plantilla"))
                
                loadedButton = true;
            }
        }
        document.getElementById("agregarEvento").addEventListener("click", generarButtonsAdd, false);

    </script>
{% endblock %}
</html>