{% extends "Layout.html" %}
<html>
{% block body %}
        <h1>Eventos Disponibles</h1>
        <div id="listaEventosDisponiblesParticipanteContainer"></div>
        
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha Inicio Evento</th>
                    <th scope="col">¿Inscrito?</th>
                    <th scope="col">Información</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(len.general) %}
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <th >{{general[i].nombre}}</th>
                    <td>{{general[i].estado}}</td>
                    <td>{{general[i].fechaInicioEvento}}</td>
                    <td>{{general[i].estaInscrito}}</td>
                    <td><a href="{{ url_for('verEvento',id=general[i].idEvento) }}" id="" class="btn btn-primary btn-lg btn-block" ><i class="fas fa-info-circle"></i></a></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
       
        

        
{% endblock %}
</html>