{% extends "Layout.html" %}
<html>
{% block body %}
<h1>Inscripciones</h1>
<br>

{% if estado == 'Borrador' %}
<div id="paquetes" class="datosEventos" >
    <form action="guardar-precios" method="post">
    <div class="marquito">
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th scope="col">Categoría</th>
                    {%for i in range(paquetes)%}
                    <th scope="col">
                        {{paquete[i]}}
                        <a href="{{ url_for('eliminarPaquete',id = ids_paquete[i]) }}"><i class="fas fa-trash" style="color: Tomato;"> </i></a>
                    </th>
                    {%endfor%}
                    
                </tr>
            </thead>
            <tbody>
                
                    {% for i in range(categorias) %}
                    <tr>
                        <td scope="row">
                            {{categoria[i]}}
                            <a href="{{ url_for('eliminarCategoria',id = ids_categoria[i]) }}"><i class="fas fa-trash" style="color: Tomato;"> </i></a>

                        </td>
                        {% for j in range(paquetes)%}
                            <td class="form-group">
                                <input type="number" step="0.01" class="form-control form-control-sm" id="" value="{{categoria_paquete[i][j]}}" name="{{ids_categoria[i]}}&{{ids_paquete[j]}}" min="0">
                            </td>
                        {%endfor%}

                    </tr>
                    {%endfor%}
                
                
            </tbody>
        </table>
    </div>
    <br>
    <div id="botonesCrear" class="row text-center">
        
        <div class="col-1"></div>
        <div class="col">
            <button id="crearCategoria" class="btn btn-primary btn-lg" type="button">Nueva Categoria</button>
        </div>
        <div class="col ">
            <button id="crearPaquete" class="btn btn-primary btn-lg" type="button">Nuevo Paquete</button>
        </div>
        <div class="col-1 border-right"></div>
        <div class="col-1"></div>
        <div class="col">
            <button id="" class="btn btn-primary btn-lg" type="submit">Guardar Precios</button>
        </div>
        <div class="col-1"></div>
        
    </div>
    <br>
    
    </form>
    <div id="modalNuevaCategoriaContainer"></div>
    <div id="modalNuevoPaqueteContainer"></div>
</div>
{%endif%}


{% if estado == 'Inscripciones' or estado == 'EnCurso' or estado == 'Finalizado' %}
<div id="tablainscritosPre">
    <div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">General</a>
                <a class="nav-link" id="nav-preinscritos-tab" data-toggle="tab" href="#nav-preinscritos" role="tab" aria-controls="nav-preinscritos" aria-selected="false">PreInscritos</a>
                <a class="nav-link" id="nav-inscritos-tab" data-toggle="tab" href="#nav-inscritos" role="tab" aria-controls="nav-inscritos" aria-selected="false">Inscritos</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Tipo de documento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(len.general) %}
                        <tr>
                            <th scope="row">{{general[i].numero}}</th>
                            <td>{{general[i].nombre}}</td>
                            <td>{{general[i].documento}}</td>
                            <td>{{general[i].tipoDocumento}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
            <div class="tab-pane fade" id="nav-preinscritos" role="tabpanel" aria-labelledby="nav-preinscritos-tab">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Tipo de documento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(len.preinscritos) %}
                        <tr>
                            <th scope="row">{{preinscritos[i].numero}}</th>
                            <td>{{preinscritos[i].nombre}}</td>
                            <td>{{preinscritos[i].documento}}</td>
                            <td>{{preinscritos[i].tipoDocumento}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-inscritos" role="tabpanel" aria-labelledby="nav-inscritos-tab">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Tipo de documento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(len.inscritos) %}
                        <tr>
                            <th scope="row">{{inscritos[i].numero}}</th>
                            <td>{{inscritos[i].nombre}}</td>
                            <td>{{inscritos[i].apellido}}</td>
                            <td>{{inscritos[i].documento}}</td>
                            <td>{{inscritos[i].tipoDocumento}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if estado == 'EnCurso' or estado == 'Finalizado' %}
        <div class="col">
            <a href="{{url_for('verEvento',id=idEvento)}}" id="" class="btn btn-primary btn-lg text-center" >Visualizar Evento</a>
        </div>
    {%endif%}
</div>
{%endif%}

{% if estado == 'Borrador' or estado == 'Inscripciones'%}
<div>
    <hr>
    <form action="gestionar_inscripcion" method="post">
        <input type="text" name="idEvento" id="" style="display: none;" value={{idEvento}}>
        <div id="fechas" class="row">
            <div class="col">
                <div class="form-group">
                    <label for="cierrePreInscripcion">Cierre de Preinscripción</label>
                    <input type="date" class="form-control" id="cierrePreInscripcion" name="cierrePreInscripcion" value="{{ fecha.Preinscripcion }}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="CierreInscripciones">Cierre de Inscripciones</label>
                    <input type="date" class="form-control" id="CierreInscripciones" name="CierreInscripciones" value="{{ fecha.Inscripciones }}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="fechaLimiteDescuento">Fecha límite de descuento</label>
                    <input type="date" class="form-control" id="fechaLimiteDescuento" name="fechaLimiteDescuento" value="{{ fecha.Descuento }}">
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="descuento">Porcentaje de Descuento</label>
                    <input type="number" min="0" max="100" class="form-control" id="descuento" name="descuento" value="{{descuento}}">
                </div>
            </div>
            
            <div class="col">
                {% if estado!='Borrador' or estado!='Inscripciones' %}
                <label for=""></label>
                <button class="btn btn-success btn-lg btn-block" type="submit">Guardar Cambios</button>
                {%endif%}
            </div>
            
        </div>

    </form>

</div>
{% endif %}



{% endblock %}
{% block script %}
   <script>
            
        //Funcion que genera un modal para la creación de un nuevo paquete
        let idModalPaquete = "modalPaquete"
        let datosPaquete = [{"nombre":"nombrePaquete","tipo_dato":"text","texto":"Nombre del Paquete"}]
        let formModal = BOOSTTRAP.GenerateComplex.buildFormModal(idModalPaquete,"Nuevo Paquete",datosPaquete)
        BOOSTTRAP.Utilities.onlyChild("modalNuevoPaqueteContainer",formModal)
        document.getElementById(idModalPaquete+"-form").action = "{{url_for('crearPaquete')}}"
        document.getElementById(idModalPaquete+"-form").method = "post"
        BOOSTTRAP.Utilities.convertToCallModal("crearPaquete",idModalPaquete)

        //Request a los nombres de las actividades y coloca el checkbox a cada una
        const request = new XMLHttpRequest();
        request.open('GET', "{{url_for('obtenerNombreActividades')}}", false);
        
        request.onload = () => {
            const data = JSON.parse(request.responseText);//Deberia retornar nombre e id
            let checkText = "<div>"
            for (i in data){
                let entry = data[i];
                checkText+=BOOSTTRAP.Utilities.buildCheckBox(entry.id,entry.nombre);
            }
            checkText+="</div>"
            BOOSTTRAP.Utilities.addChild(idModalPaquete+"-form",checkText)
            
            var button = document.getElementById(idModalPaquete+"-form-button").parentElement.cloneNode("true")
            document.getElementById(idModalPaquete+"-form").removeChild(document.getElementById(idModalPaquete+"-form-button").parentElement)
            document.getElementById(idModalPaquete+"-form").appendChild(button)
        };
        request.send(null)

        

        //Funcion que genera un modal para la creación de un nueva categoria
        let idModalCategoria = "modalCategoria"
        let datosForm = [
            {"nombre":"nombreCategoria","tipo_dato":"text","texto":"Nombre de la Categoría"},
        ]
        formModal = BOOSTTRAP.GenerateComplex.buildFormModal(idModalCategoria,"Nueva Categoria",datosForm)
        BOOSTTRAP.Utilities.onlyChild("modalNuevaCategoriaContainer",formModal)
        document.getElementById(idModalCategoria+"-form").action = "{{url_for('crearCategoria')}}"
        document.getElementById(idModalCategoria+"-form").method = "post"       
        BOOSTTRAP.Utilities.convertToCallModal("crearCategoria",idModalCategoria)





        
   </script>
{% endblock %}
</html>