{% extends "Layout.html" %}
<html>
{% block body %}
        <h1>Hola {{ nombreUsuario }}</h1>
        <h3>Historial de eventos:</h3>

        <div id="modalEventoNuevo"></div>
        <div id="modalEventoPlantilla"></div>
        <form action="{{url_for('seleccionarevento')}}" method="post">
            <div id="historialEventos"></div>
            <div class="row">
                <div class="col-8"></div>
                <div class="col-4">
                    <button id="seleccionarEvento" class="btn btn-primary btn-lg btn-block" type="submit"> Seleccionar</button>                
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <button id="agregarEvento" class="btn btn-outline-primary btn-block" type="button" >
                    <i class="fa fa-plus"></i> Agregar Evento
                </button>
                <div id="BtnEventoPlantilla" class="btn-group  btn-block" role="group" aria-label="Plantilla o nuevo" >

                    <!--Falta eleccion a partir de plantillas-->
                </div>
            </div>
            <div class="col-4"></div>
        </div>

{% endblock %}
{% block script %}
    <script>
        loadedButton = false
        let tabla = BOOSTTRAP.GenerateComplex.buildTableSelection(//Genera la table
            "tablaHistorialEventos",
            ["nombre","fechaCreacion","fechaCierreInscripcion","fechaInicioEvento","fechaCierreEvento","estadoEvento"],
            {{ contenido| tojson }}
            )
        BOOSTTRAP.Utilities.onlyChild("historialEventos",tabla)//Coloca la tabla
        function generarButtonsAdd(){//Crea los modals y botones de crear nuevo y crear a partir de plantilla
            if(!loadedButton){
                let idModalNuevo = "nuevoEventoModal"
                let idModalPlantilla = "plantillaEventoModal"
                let datosForm = [
                    {"nombre":"nombreEvento","tipo_dato":"text"},
                    {"nombre":"tipoEvento","tipo_dato":"text"},
                    {"nombre":"descripcionBreve","tipo_dato":"text"},
                    {"nombre":"lugar","tipo_dato":"text"},
                ]
                //Crear evento desde 0
                formModal = BOOSTTRAP.GenerateComplex.buildFormModal(idModalNuevo,"Creación de nuevo evento",datosForm)
                BOOSTTRAP.Utilities.onlyChild("modalEventoNuevo",formModal)
                document.getElementById(idModalNuevo+"-form").action = "{{url_for('crearEvento')}}"
                document.getElementById(idModalNuevo+"-form").method = "post"

                //Crear evento desde plantilla
                datosTabla = {
                    tipo_tabla:"Seleccion",
                    headers:["Nombre","Fecha","TipoEvento"],
                    contenido:""}
                tableModal = BOOSTTRAP.GenerateComplex.buildTableModal(idModalPlantilla, "Creación a partir de Plantilla", datosTabla)
                
                console.log(tableModal)
                
                
                BOOSTTRAP.Utilities.onlyChild("modalEventoPlantilla",tableModal)
                BOOSTTRAP.Utilities.addChild(idModalPlantilla+"-tableModalForm",BOOSTTRAP.Utilities.basicButton("Seleccionar"))

                document.getElementById(idModalPlantilla+"-tableModalForm").action = "{{url_for('crearEventoPlantilla')}}"

                //Llena la tabla
                    //Request
                    const request = new XMLHttpRequest();
                    request.open('GET', "{{url_for('obtenerPlantillas')}}", false);
                    
                    request.onload = () => {
                        const data = JSON.parse(request.responseText);
                        BOOSTTRAP.Tables.fillTable(idModalPlantilla+"-tableModalForm-table",datosTabla.headers,data,true,false)
                    };
                    request.send(null)

                

                //Aniade botones de los modals
                BOOSTTRAP.Utilities.onlyChild("BtnEventoPlantilla", BOOSTTRAP.Modals.buildButtonModal(idModalNuevo,"Nuevo Evento"))
                BOOSTTRAP.Utilities.addChild("BtnEventoPlantilla", BOOSTTRAP.Modals.buildButtonModal(idModalPlantilla,"Evento Plantilla"))
                
                loadedButton = true;
            }
        }
        document.getElementById("agregarEvento").addEventListener("click", generarButtonsAdd, false);

    </script>
{% endblock %}
</html>